@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vph;
    width: 100vph;
    background-color: hsl(0, 0%, 98%); 
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
}
.lhs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.lhs ul{
    display: inline-flex;
    list-style: none;
    color:hsl(0, 0%, 41%);
    margin-left: -8rem;
}
.lhs ul li{
    padding-right: 2rem;

}
.lhs ul li a:hover{
    color:hsl(0, 0%, 8%) ;
}
.lhs ul li a{
    text-decoration:none;
    color:hsl(0, 0%, 41%);
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
}


.submenu{
    display: none;
}


.lhs ul li:hover .submenu{
display: block;
position: absolute;
margin-left: 3rem;
margin-top: 1rem;

}

.lhs ul li:hover .submenu ul{
    display: block;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.8rem;
    /* box-shadow: 5px 5px -5px -5px #ddd; */
}

.lhs ul li:hover .submenu ul li{
    padding: 0.25rem;
}

/* .navtext{
    margin-left:-11rem;
    font-family: 'Epilogue', sans-serif;
    
}
.navtext a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    padding: 1.5rem;
    text-align: center;
}

.navtext a:hover{
    color:hsl(0, 0%, 8%) ;
} */

.rhs a{
    font-family: 'Epilogue', sans-serif;
    color:  hsl(0, 0%, 41%);
    text-decoration: none;
    padding-right: 3rem;
   
}

.rhs a:hover{
    color:hsl(0, 0%, 8%) ;
}

.register{
    font-family: 'Epilogue', sans-serif;
    font-size: 0.95rem;
    background-color: hsl(0, 0%, 98%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width:0.1rem;
    border-color: hsl(0, 0%, 41%);
color:  hsl(0, 0%, 41%);
}

.register:hover {
    color:hsl(0, 0%, 8%) ;
    border-color: hsl(0, 0%, 8%);
}

.midcontainer{
    margin: 3rem 15rem 0 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bodytext{
    margin-top: 6rem;
}
.bodytext h1{
    font-family: 'Epilogue', sans-serif;
    font-weight:900;
    font-size: 4rem;
    color: hsl(0, 0%, 8%);
    /* margin-top: 2rem; */
}
.bodytext p{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 3rem;
    color: hsl(0, 0%, 8%);
    line-height: 1.5rem;
    color:  hsl(0, 0%, 41%);
}
.learnbtn{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    border-width:0.1rem;
    border-color:hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
}
.learnbtn:hover{
   color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    font-weight: bold;
}
.textimg img{
padding:0.5rem;
}
.bodyimg{
    width:85%;
    margin-left: 10rem;
    
}
.bodyimg img{
    width: 100%;
}

.menuicon{
    display: none;
}




.attribution{
    margin-top: 2rem;
    font-family: 'Epilogue', sans-serif;
}

@media only screen and (max-width:400px){
    .lhs ul, .rhs{
        display: none;
    }
    .menuicon{
        display: inline-block;
        height: 1rem;
    }
    .menuicon:hover{
        cursor: pointer;
    }
    .midcontainer{
       margin-left: 2rem;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0;
       
     }
     .bodyimg{
         grid-column: 1;
         grid-row: 1;
         /* margin-right: -3rem; */
         /* padding-right: -3rem; */
         margin-left: -2rem;
         width: 100vw;
         margin-top: -2rem;
     }
     .bodytext{
       margin-top: 1.5rem;
        /* width: 100vw; */
        margin-left: -1rem;
     }
     .bodytext h1{
        font-size: 2rem;
        width: 95%;
        text-align: center;
     }
     .bodytext p{
        margin-top: 1rem;
        font-size: 1rem;
        width: 95%;
        text-align: center;
     }
     br{
        display: none;
     }
     .learnbtn{
        display: block;
        margin: auto;
        margin-top: 1rem;
     }
     .textimg{
        margin-top: 2rem;
        margin-left: -0.5rem;
     }
   .txtimg{
    width: 5.5rem;
   }
   .audiophile{
    width:4rem ;
   }
   .attribution{
    font-size: 0.15rem;
    margin-top: 0.5rem;
    margin-left: -1rem;
    display: none;
   }
}
    
    