@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vph;
    width: 100vph;
    background-color: hsl(0, 0%, 98%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
}
.lhs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navtext{
    margin-left:-11rem;
    font-family: 'Epilogue', sans-serif;
    
}
.navtext a{
    text-decoration: none;
    color: hsl(0, 0%, 8%);
    padding: 1.5rem;
}
.rhs a{
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 0%, 8%);
    text-decoration: none;
    padding-right: 3rem;
}
.register{
    font-family: 'Epilogue', sans-serif;
    /* padding-left: 1.5rem;s */
    background-color: (0, 0%, 98%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width:0.1rem;
    border-color: hsl(0, 0%, 41%);
}

.midcontainer{
    margin: 3rem 15rem 0 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bodytext{
    margin-top: 6rem;
}
.bodytext h1{
    font-family: 'Epilogue', sans-serif;
    font-weight:900;
    font-size: 4rem;
    color: hsl(0, 0%, 8%);
    /* margin-top: 2rem; */
}
.bodytext p{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 3rem;
    color: hsl(0, 0%, 8%);
    line-height: 1.5rem;
}
.learnbtn{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    border-width:0.1rem;
    border-color:hsl(0, 0%, 8%);
    color:hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
}
.textimg img{
padding:0.5rem;
}
.bodyimg{
    width:85%;
    margin-left: 10rem;
    
}
.bodyimg img{
    width: 100%;
}






.attribution{
    margin-top: 2rem;
  
}